.information-container{
    display: flex;
    align-items: center;
    height: 300px;
}
.information-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#image{
    width: 7cm;
    float: right;
}
.information-list{
    text-align: left;
    list-style: none;
}
#temperature{
    margin-top: 2em;
}
.daily-weather-section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}
.card-img{
    width: 4em;
}
.daily-weather-section>div{
    background-image: linear-gradient(to bottom right, rgb(120, 163, 237), rgb(39, 89, 128));
    padding: 10px;
    border-radius: 15px;
}
.headerLogo{
    width: 80%;
    margin: auto;
    border-radius: 15px;
    background-color: aquamarine;
}
.simp_logo{
    height: 10em;
}

/* home-page */
.header-home{
    text-align: center;
    background-color: rgb(167, 231, 242) ;
}
.logo-home{
    height: 25em;
    border-radius: 25px;
}
.section-heading{
    margin-bottom: 2em;
    text-align: center;
}
.location-section{
    padding: 3em 0;
    background-color: rgb(151, 217, 227);
    border-radius: 25px;
    width: 70%;
    margin: auto;
}
.input-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}
.goRight>*{
    float: right;
}
.centre-input{
    text-align: center;
    margin: 1em 0;;
}
.dropdown{
    width: 10em;
    margin: auto;
}
.label-element{
    margin-right: 1em;
}
.rounded-input{
    height: 2.5em;
    border-radius: 25px;
    width: 20em;
    padding: 5px;
}
.view-button{
    padding: 1em 2em;
    background-color: rgb(76, 76, 236);
    color: aliceblue;
    border-radius: 1em;
}
.view-button:hover{
    background-color: lavenderblush;
    color: black;
}
body{
    background-color: rgb(151, 217, 227);
}
.information-wrapper> h2{
    text-align: center;
    margin-top: 2em;
    background-color:rgb(141, 213, 229);
    padding: 1em 0;
    width: 15em;
    margin: auto;
    border-radius: 20px;
}
.information-div{
    width: 75%;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(143, 184, 241);    margin-top: 2em;
}